body {
    margin: 0px;
}

p{
    margin: 0px;
}


/* Header Styles */
.header_container {
    display:flex;
    justify-content: space-around;
    height: 125px;
    background-color: #350501;
}

.logo_wrapper {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100%;
    width: 150px;
    align-items: center;
}


/* Middle Header */
.middle_header {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.8em;
}

.links_wrapper a{
    color:#cecccc;
    text-decoration: none;
}



/* Right Header */

.right_header .eco_friendly{
    font-size: .6rem;
    display: flex;
}
.right_header .eco_friendly_text{
    color: #cecccc;
}
.right_header img{
    height: 100%;
    width: 25px;
    padding-top: 10px;
}

.right_header .contactus_button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8px;
}

.right_header .contactus_button a{
    display: flex;
    justify-content: space-around;
    color: #cecccc;
    text-decoration: none;
    font-size: 1.2rem;
    border: 13px solid black;
    background-color: black;
    border-radius: 25px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




/* Footer Style */
.footer_container{
    height: 250px;
    background-color: #350501; 
}
.footer{
    display: flex;
    justify-content: space-around;
}

.footer .footer_links a{
    font-size: 1.8rem;
    text-decoration: none;
    color: #cecccc;
}
.footer .footerl{
    padding: 15px;
}
.footer_eco_friendly img{
    height: 100%;
    width: 350px;
    align-items: center;
}
.footer .footer_logo img{
    height: 100%;
    width: 300px;
    align-items: center;
}